body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 20px;
    background: url(./img/background.png);
    background-repeat: repeat;
    text-align: center; 
}

.opening{
    margin-bottom: 30px;
}
.opening img{
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
}