body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 20px;
    background: url(./img/background.png);
    background-repeat: repeat;
    text-align: center; 
}

.content{
    margin-bottom: 30px;
}